In [2]:
import pandas as pd

# 1 Đọc file stocks1.csv
stocks1 = pd.read_csv("stocks1.csv")
print("Stocks1 - 5 dòng đầu:")
print(stocks1.head())
print("\nStocks1 - 5 dòng cuối:")
print(stocks1.tail())
print("\nKiểu dữ liệu columns:")
print(stocks1.dtypes)
print("\nThông tin stocks1:")
print(stocks1.info())

# 1 b) Đọc file stocks2.csv
stocks2 = pd.read_csv("stocks2.csv")
print("\nStocks2 - 5 dòng đầu:")
print(stocks2.head())
print("\nStocks2 - 5 dòng cuối:")
print(stocks2.tail())
print("\nKiểu dữ liệu columns:")
print(stocks2.dtypes)
print("\nThông tin stocks2:")
print(stocks2.info())

# 1 c) Đọc file companies.csv
companies = pd.read_csv("companies.csv")
print("\nCompanies:")
print(companies.head())
print("\nKiểu dữ liệu columns:")
print(companies.dtypes)
print("\nThông tin companies:")
print(companies.info())

# 2 Kiểm tra dữ liệu Null trong stocks1
print("\nSố giá trị Null trong stocks1:")
print(stocks1.isnull().sum())

# Thay thế Null
# Nếu Null cột 'high' -> max theo symbol
stocks1['high'] = stocks1.groupby('symbol')['high'].transform(lambda x: x.fillna(x.max()))
# Nếu Null cột 'low' -> min theo symbol
stocks1['low'] = stocks1.groupby('symbol')['low'].transform(lambda x: x.fillna(x.min()))

# 3 Gộp stocks1 và stocks2 theo dòng
stocks = pd.concat([stocks1, stocks2], ignore_index=True)
print("\n15 dòng cuối stocks:")
print(stocks.tail(15))

# 4 Gộp stocks và companies
# Giả sử 'symbol' trong stocks tương ứng với 'name' trong companies
stocks_companies = stocks.merge(companies, left_on='symbol', right_on='name', how='left')
print("\n5 dòng đầu stocks_companies:")
print(stocks_companies.head())

# 5 Giá trung bình và volume trung bình của mỗi công ty
mean_stats = stocks_companies.groupby('symbol')[['open','high','low','close','volume']].mean()
print("\nGiá và volume trung bình mỗi công ty:")
print(mean_stats)

# 6 Giá đóng cửa (close) trung bình, lớn nhất, nhỏ nhất
close_stats = stocks_companies.groupby('symbol')['close'].agg(['mean','max','min'])
print("\nGiá đóng cửa trung bình, max, min mỗi công ty:")
print(close_stats)

# 7 Tạo cột parsed_time dạng DateTime
stocks_companies['parsed_time'] = pd.to_datetime(stocks_companies['date'])
print("\nKiểu dữ liệu cột parsed_time:")
print(stocks_companies['parsed_time'].dtypes)
print("\n5 dòng đầu stocks_companies:")
print(stocks_companies.head())

# 8 Thêm cột result
stocks_companies['result'] = stocks_companies.apply(
    lambda row: 'up' if row['close'] > row['open'] else 'down', axis=1
)
print("\n5 dòng đầu stocks_companies với cột result:")
print(stocks_companies.head())

Stocks1 - 5 dòng đầu:
         date symbol  open   high    low  close  volume
0  2025-01-02   AAPL   150  155.0  149.0    154  100000
1  2025-01-02   MSFT   210  215.0  208.0    212  120000
2  2025-01-03   AAPL   154  156.0  153.0    155  110000
3  2025-01-03   MSFT   212  216.0  211.0    214  115000
4  2025-01-04   AAPL   155    NaN  154.0    156  105000

Stocks1 - 5 dòng cuối:
         date symbol  open   high    low  close  volume
1  2025-01-02   MSFT   210  215.0  208.0    212  120000
2  2025-01-03   AAPL   154  156.0  153.0    155  110000
3  2025-01-03   MSFT   212  216.0  211.0    214  115000
4  2025-01-04   AAPL   155    NaN  154.0    156  105000
5  2025-01-04   MSFT   214  217.0    NaN    215  118000

Kiểu dữ liệu columns:
date       object
symbol     object
open        int64
high      float64
low       float64
close       int64
volume      int64
dtype: object

Thông tin stocks1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6 non-null      object
 1   symbol  6 non-null      object
 2   open    6 non-null      int64
 3   high    5 non-null      float64
 4   low     5 non-null      float64
 5   close   6 non-null      int64
 6   volume  6 non-null      int64
dtypes: float64(2), int64(3), object(2)
memory usage: 468.0+ bytes
None

Stocks2 - 5 dòng đầu:
         date symbol  open  high  low  close  volume
0  2025-01-05   AAPL   156   158  155    157  120000
1  2025-01-05   MSFT   215   218  213    217  125000
2  2025-01-06   AAPL   157   159  156    158  130000
3  2025-01-06   MSFT   217   220  216    219  128000
4  2025-01-07   AAPL   158   160  157    159  135000

Stocks2 - 5 dòng cuối:
         date symbol  open  high  low  close  volume
1  2025-01-05   MSFT   215   218  213    217  125000
2  2025-01-06   AAPL   157   159  156    158  130000
3  2025-01-06   MSFT   217   220  216    219  128000
4  2025-01-07   AAPL   158   160  157    159  135000
5  2025-01-07   MSFT   219   222  218    221  130000

Kiểu dữ liệu columns:
date      object
symbol    object
open       int64
high       int64
low        int64
close      int64
volume     int64
dtype: object

Thông tin stocks2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6 non-null      object
 1   symbol  6 non-null      object
 2   open    6 non-null      int64
 3   high    6 non-null      int64
 4   low     6 non-null      int64
 5   close   6 non-null      int64
 6   volume  6 non-null      int64
dtypes: int64(5), object(2)
memory usage: 468.0+ bytes
None

Companies:
   name  employees headquarters_city headquarters_state
0  AAPL     147000         Cupertino                 CA
1  MSFT     181000           Redmond                 WA
2  GOOG     156000     Mountain View                 CA
3  AMZN     133000           Seattle                 WA

Kiểu dữ liệu columns:
name                  object
employees              int64
headquarters_city     object
headquarters_state    object
dtype: object

Thông tin companies:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                4 non-null      object
 1   employees           4 non-null      int64
 2   headquarters_city   4 non-null      object
 3   headquarters_state  4 non-null      object
dtypes: int64(1), object(3)
memory usage: 260.0+ bytes
None

Số giá trị Null trong stocks1:
date      0
symbol    0
open      0
high      1
low       1
close     0
volume    0
dtype: int64

15 dòng cuối stocks:
          date symbol  open   high    low  close  volume
0   2025-01-02   AAPL   150  155.0  149.0    154  100000
1   2025-01-02   MSFT   210  215.0  208.0    212  120000
2   2025-01-03   AAPL   154  156.0  153.0    155  110000
3   2025-01-03   MSFT   212  216.0  211.0    214  115000
4   2025-01-04   AAPL   155  156.0  154.0    156  105000
5   2025-01-04   MSFT   214  217.0  208.0    215  118000
6   2025-01-05   AAPL   156  158.0  155.0    157  120000
7   2025-01-05   MSFT   215  218.0  213.0    217  125000
8   2025-01-06   AAPL   157  159.0  156.0    158  130000
9   2025-01-06   MSFT   217  220.0  216.0    219  128000
10  2025-01-07   AAPL   158  160.0  157.0    159  135000
11  2025-01-07   MSFT   219  222.0  218.0    221  130000

5 dòng đầu stocks_companies:
         date symbol  open   high    low  close  volume  name  employees  \
0  2025-01-02   AAPL   150  155.0  149.0    154  100000  AAPL     147000
1  2025-01-02   MSFT   210  215.0  208.0    212  120000  MSFT     181000
2  2025-01-03   AAPL   154  156.0  153.0    155  110000  AAPL     147000
3  2025-01-03   MSFT   212  216.0  211.0    214  115000  MSFT     181000
4  2025-01-04   AAPL   155  156.0  154.0    156  105000  AAPL     147000

  headquarters_city headquarters_state
0         Cupertino                 CA
1           Redmond                 WA
2         Cupertino                 CA
3           Redmond                 WA
4         Cupertino                 CA

Giá và volume trung bình mỗi công ty:
         open        high         low       close         volume
symbol
AAPL    155.0  157.333333  154.000000  156.500000  116666.666667
MSFT    214.5  218.000000  212.333333  216.333333  122666.666667

Giá đóng cửa trung bình, max, min mỗi công ty:
              mean  max  min
symbol
AAPL    156.500000  159  154
MSFT    216.333333  221  212

Kiểu dữ liệu cột parsed_time:
datetime64[ns]

5 dòng đầu stocks_companies:
         date symbol  open   high    low  close  volume  name  employees  \
0  2025-01-02   AAPL   150  155.0  149.0    154  100000  AAPL     147000
1  2025-01-02   MSFT   210  215.0  208.0    212  120000  MSFT     181000
2  2025-01-03   AAPL   154  156.0  153.0    155  110000  AAPL     147000
3  2025-01-03   MSFT   212  216.0  211.0    214  115000  MSFT     181000
4  2025-01-04   AAPL   155  156.0  154.0    156  105000  AAPL     147000

  headquarters_city headquarters_state parsed_time
0         Cupertino                 CA  2025-01-02
1           Redmond                 WA  2025-01-02
2         Cupertino                 CA  2025-01-03
3           Redmond                 WA  2025-01-03
4         Cupertino                 CA  2025-01-04

5 dòng đầu stocks_companies với cột result:
         date symbol  open   high    low  close  volume  name  employees  \
0  2025-01-02   AAPL   150  155.0  149.0    154  100000  AAPL     147000
1  2025-01-02   MSFT   210  215.0  208.0    212  120000  MSFT     181000
2  2025-01-03   AAPL   154  156.0  153.0    155  110000  AAPL     147000
3  2025-01-03   MSFT   212  216.0  211.0    214  115000  MSFT     181000
4  2025-01-04   AAPL   155  156.0  154.0    156  105000  AAPL     147000

  headquarters_city headquarters_state parsed_time result
0         Cupertino                 CA  2025-01-02     up
1           Redmond                 WA  2025-01-02     up
2         Cupertino                 CA  2025-01-03     up
3           Redmond                 WA  2025-01-03     up
4         Cupertino                 CA  2025-01-04     up