bài 1

In [1]:
import sqlite3

conn = sqlite3.connect("test.db")
cur = conn.cursor()
cur.execute("SELECT sqlite_version()")
print("SQLite version:", cur.fetchone()[0])
conn.close()

SQLite version: 3.45.1

bài 2

In [2]:
import sqlite3

conn = sqlite3.connect(":memory:")
print("Connected to in-memory SQLite")
conn.close()

Connected to in-memory SQLite

bài 3

In [3]:
import sqlite3

conn = sqlite3.connect("demo.db")
cur = conn.cursor()

cur.execute("""
CREATE TABLE IF NOT EXISTS student (
    id INTEGER PRIMARY KEY,
    name TEXT
)
""")

conn.commit()
conn.close()

bài 4

In [4]:
import sqlite3

conn = sqlite3.connect("demo.db")
cur = conn.cursor()

cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cur.fetchall())

conn.close()

[('student',)]

bài 5

In [5]:
import sqlite3

conn = sqlite3.connect("demo.db")
cur = conn.cursor()

cur.execute("""
CREATE TABLE IF NOT EXISTS product (
    id INTEGER PRIMARY KEY,
    name TEXT,
    price REAL
)
""")

cur.executemany(
    "INSERT INTO product(name,price) VALUES (?,?)",
    [("Pen",5.5),("Book",20)]
)

for row in cur.execute("SELECT * FROM product"):
    print(row)

conn.commit()
conn.close()

(1, 'Pen', 5.5)
(2, 'Book', 20.0)

bài 6

In [6]:
import sqlite3

conn = sqlite3.connect("demo.db")
cur = conn.cursor()

cur.execute("SELECT COUNT(*) FROM product")
print("Số bản ghi:", cur.fetchone()[0])

conn.close()

Số bản ghi: 2

bài 7

In [7]:
import sqlite3

conn = sqlite3.connect("demo.db")
cur = conn.cursor()

cur.execute("UPDATE product SET price = price + 5")
conn.commit()

conn.close()

bài 8

In [8]:
import sqlite3

conn = sqlite3.connect("demo.db")
cur = conn.cursor()

cur.execute("DELETE FROM product WHERE id = 1")
conn.commit()

conn.close()

bài 9

In [11]:
import pandas as pd

df = pd.read_csv("region.csv")
print(df)

   REGION_ID             REGION_NAME
0          1                  Europe
1          2                Americas
2          3                    Asia
3          4  Middle East and Africa

bài 10

In [12]:
import sqlite3

conn = sqlite3.connect("product.db")
cur = conn.cursor()

cur.execute("""
CREATE TABLE IF NOT EXISTS product (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    price REAL NOT NULL,
    amount INTEGER NOT NULL
)
""")

# Thêm
cur.execute("INSERT INTO product VALUES (1,'Pen',5.5,100)")
cur.execute("INSERT INTO product VALUES (2,'Book',20,50)")

# Hiển thị
print(cur.execute("SELECT * FROM product").fetchall())

# Tìm theo tên
print(cur.execute(
    "SELECT * FROM product WHERE name LIKE ?",('%Pen%',)
).fetchall())

# Cập nhật
cur.execute("UPDATE product SET price=6, amount=120 WHERE id=1")

# Xóa
cur.execute("DELETE FROM product WHERE id=2")

conn.commit()
conn.close()

[(1, 'Pen', 5.5, 100), (2, 'Book', 20.0, 50)]
[(1, 'Pen', 5.5, 100)]

bài 11

In [14]:
import sqlite3

conn = sqlite3.connect("ql_nhan_vien.db")
cur = conn.cursor()

# Tạo bảng PHONG
cur.execute("""
CREATE TABLE IF NOT EXISTS PHONG (
    id INTEGER PRIMARY KEY,
    ten_phong TEXT NOT NULL
)
""")

# Tạo bảng NHAN_VIEN
cur.execute("""
CREATE TABLE IF NOT EXISTS NHAN_VIEN (
    id INTEGER PRIMARY KEY,
    ho_ten TEXT NOT NULL,
    tuoi INTEGER NOT NULL,
    dia_chi TEXT NOT NULL,
    luong REAL NOT NULL,
    id_phong INTEGER,
    FOREIGN KEY (id_phong) REFERENCES PHONG(id)
)
""")

# Thêm dữ liệu phòng
cur.execute("INSERT INTO PHONG VALUES (1,'IT')")
cur.execute("INSERT INTO PHONG VALUES (2,'HR')")

# Thêm nhân viên
cur.execute("INSERT INTO NHAN_VIEN VALUES (1,'Nguyen Van A',20,'HN',1000,1)")
cur.execute("INSERT INTO NHAN_VIEN VALUES (2,'Tran Thi B',22,'HCM',1200,2)")

# Hiển thị danh sách nhân viên + phòng
for row in cur.execute("""
SELECT ho_ten, tuoi, luong, ten_phong
FROM NHAN_VIEN
JOIN PHONG ON NHAN_VIEN.id_phong = PHONG.id
"""):
    print(row)

conn.commit()
conn.close()

('Nguyen Van A', 20, 1000.0, 'IT')
('Tran Thi B', 22, 1200.0, 'HR')